body {
  background-image: url('./images/images.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  backdrop-filter: blur(0px);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.calculator {
  background-color: rgba(255, 255, 255, 0.2);
  max-width: 400px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#display {
  background-color: rgba(255, 255, 255, 0.1);
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
}

.calc-btn {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 12px 0;
  backdrop-filter: blur(3px);
  border-radius: 12px;
  transition: 0.2s;
}

.calc-btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 10px white;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 8px; 
}

.calc-heading {
 font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  font-weight: 900;
  color: rgba(252, 237, 237, 0.85); 
  text-shadow: 1px 1px 2px rgba(3, 3, 3, 0.3);
  margin: 0;
}

@media (max-width: 500px) {
  .calc-heading {
    font-size: 2.8rem;
  }
}
